@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Text.Json
<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </nav>
</div>
<section class="section dashboard">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card  revenue-card">

                        <div class="card-body">

                            <h5 class="card-title">Present <span>| Today</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people-fill"></i>
                                </div>
                                <div class="ps-3">
                                    <h6 id="empPresent"></h6>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card customers-card">

                        <div class="card-body">
                            <h5 class="card-title">Absent <span>| Today</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people-fill"></i>
                                </div>
                                <div class="ps-3">
                                    <h6 id="empAbsent"></h6>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xxl-4 col-xl-12">
                    <div class="card info-card  sales-card">
                        <div class="card-body">
                            <h5 class="card-title">Employees <span>| Total employees</span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people"></i>
                                </div>
                                <div class="ps-3">
                                    <h6 id="empTotal"></h6>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card recent-sales overflow-auto">

                        <div class="card-body">
                            <h5 class="card-title">Attendance <span>| Today</span></h5>

                            <div id="tblAttendanceList" class="table-responsive"></div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $('#empTotal').text(0);
        $('#empPresent').text(0);
        $('#empAbsent').text(0);
        var totalEmployees = JSON.parse('@Html.Raw(Json.Serialize(@ViewBag.totalEmp))');
        var totalPresent = JSON.parse('@Html.Raw(Json.Serialize(@ViewBag.present))');
        var totalAbsent = JSON.parse('@Html.Raw(Json.Serialize(@ViewBag.absent))');
        var logList = JSON.parse('@Html.Raw(Json.Serialize(@ViewBag.logList))');
        $('#empTotal').text(totalEmployees);
        $('#empPresent').text(totalPresent);
        $('#empAbsent').text(totalAbsent);
        generateTable(logList);
        function generateTable(list) {
            var $table = $("<table id='foo-row-toggler' class='table table-borderless datatable'>");
            $table.append("<thead><tr><th>Employee Code</th><th>Employee Name</th><th>Department</th><th>In Time</th><th>Out Time</th><th>Status</th></tr></thead>");
            var $tbody = $("<tbody>");
            $.each(list, function (i, val) {
                var ot;
                if (convertTime(val.empIn).toString() == convertTime(val.empOut).toString()) { ot = "-"; }
                else {
                    ;
                    ot = convertTime(val.empOut);
                }
                if (val.status === 1) {
                    var $row = "<tr><td>" + val.employeeCode + "</td><td>" + val.employeeName + "</td><td>" + val.department + "</td><td>" + convertTime(val.empIn) + "</td><td>" + ot + "</td><td><span class='badge bg-success'>Present</span></td></tr>";
                    $tbody.append($row);
                }
                else {
                    var $row = "<tr><td>" + val.employeeCode + "</td><td>" + val.employeeName + "</td><td>" + val.department + "</td><td>-</td><td>-</td><td><span class='badge bg-danger'>Absent</span></td></tr>";
                    $tbody.append($row);
                }
            });
            $tbody.append("</tbody>");
            $table.append($tbody);
            $table.append("</table>");
            $("#tblAttendanceList").html($table);
            $("#foo-row-toggler").DataTable();
        }

        function convertTime(cDate) {
            var dateObj = new Date(cDate);
            var formattedDate = dateObj.toLocaleDateString();
            var options = { hour: '2-digit', minute: '2-digit', hour12: true };
            var formattedTime = dateObj.toLocaleTimeString('en-US', options);
            return formattedTime;
        };
    });
</script>


